body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #fff;
}

main {
    flex: 1 0 auto;
}

.logo {
    max-height: 4em;
}

.otp {
    padding-left: 2em;
    letter-spacing: 1em;
    font-size: 2.5em;
}

.qrcode {
    width: 40%;
}

.section-title {
    text-align: left;
}

.mfa-choose-btn {
    text-transform:none; 
    width: 100%; 
    font-size: 1.3em;
}