body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #fff;
}

main {
    flex: 1 0 auto;
}

.main-container {
    display: inline-block;
    padding: 32px 48px 0px 48px;
    border: 1px solid #EEE;
}

.logo {
    max-height: 4em;
}

.otp {
    padding-left: 2em;
    letter-spacing: 1em;
    font-size: 2.5em;
}

.qrcode {
    width: 40%;
}

.section-title {
    text-align: left;
}

.mfa-choose-btn {
    text-transform:none; 
    width: 100%; 
    font-size: 1.3em;
}

@keyframes fadeIn { 
    from { opacity: 0; } 
}

.fadein-animated {
    color: #ff80ab;
    animation: fadeIn 1s infinite alternate;
}

.fadein {
    animation: fadeIn 4s alternate;
}

.anchor-btn {
    text-transform: none;
}

.display-none {
    display: none;
}

.touchid-icon {
    color: #ff80ab; 
    font-size: 2.2em;
}

.big-success-icon {
    color: #0c8836; 
    font-size: 5em;
}

.white {
    color: #ffffff;
}