{{ define "enter2fa" }}
<html>
{{ template "header" . }}
<body>
<div class="section"></div>
<main>
    <center>
        <div class="section"></div>
            <div class="container">
                <div class="z-depth-1 grey lighten-4 row main-container">
                    <img src="{{.LogoURL}}" class="logo"/>
                    <br/><br/>
                    <h2>Confirm you're you!</h2>
                    <br/><br/>

                    <form id="code-form" action="/auth/code/validate" method="POST">
                    <div class="row" id="code-section" style="display: none;">
                        <br/>
                        <p>Enter the temporary code from your other device</p>
                        <div class='input-field col s12'>
                            <i class="material-icons prefix">keyboard</i>
                            <input class='validate otp' type='number' name='code' id='code' max="999999" minlength="6" maxlength="6" autofocus/>
                            <span class="helper-text" data-error="Must be 6 digits" data-success="right"></span>
                        </div>
                        <br/><br/>
                    </div>
                    </form> 

                    <div class="row" id="touchid-section">
                        <div class='col s12'>
                            <a class="btn-large waves-effect blue-grey left mfa-choose-btn" 
                                onclick="webAuthNLogin(false);">
                                <i id="touchid-icon" class="large material-icons left" style="color: #ff80ab; font-size: 2.2em;">fingerprint</i>&nbsp;Use TouchID, FaceID or Windows Hello
                            </a>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </div>

                    <div class="row" id="webauthn-section">
                        <div class='col s12'>
                            <a class="btn-large waves-effect blue-grey left mfa-choose-btn" href="/register2faWebauthn">
                                <div class="icon">
                                    <i class="fa fa-usb fa-3x left"></i>&nbsp;Use your security key
                                </div>
                            </a>
                        </div>
                        <br/><br/>
                    </div>

                    <form id="otp-form" action="/auth/otp/validate" method="POST">
                    <div class="row" id="otp-section">
                        <br/>
                        <p>6 digits code from your authenticator app (Authy, Google Authenticator...)</p>
                        <div class='input-field col s12'>
                            <i class="material-icons prefix">keyboard</i>
                            <input class='validate otp' type='number' name='otp' id='otp' max="999999" minlength="6" maxlength="6" autofocus/>
                            <label for='otp'>Use the entry starting with "{{.MFAIssuer}}"</label>
                            <span class="helper-text" data-error="Must be 6 digits" data-success="right"></span>
                        </div>
                        <br/><br/>
                    </div>
                    </form>

                    <br/>
                    <div id="error" class="card-panel red accent-3" style="display: none; color: #ffffff;"><b>The code was invalid</b></div>
                </div>
            </div>
    </center>

</main>
</body>

</html>
{{ end }}