{{ define "enter2fa" }}
<html>
{{ template "header" . }}
<body>
<div class="section"></div>
<main>
    <center>
        <div class="section"></div>
        <form action="/auth/validateotp" method="POST">
            <div class="container">
                <div class="z-depth-1 grey lighten-4 row"
                    style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                    <img src="{{.LogoURL}}" class="logo"/>
                    <h2>Enter the 6 digits code</h2>
                    <p>From your authenticator app (Authy, Google Authenticator...)</p>
                    <p>Use the entry starting with "{{.MFAIssuer}}"</p>
                    <br/><br/>
                    <div class="row">
                        <div class='input-field col s12'>
                            <i class="material-icons prefix">keyboard</i>
                            <input class='validate otp' type='number' name='otp' id='otp' max="999999" minlength="6" maxlength="6" autofocus/>
                            <label for='otp'>Enter your 2FA code</label>
                            <span class="helper-text" data-error="Must be 6 digits" data-success="right"></span>
                            <div id="error" class="card-panel red lighten-2" style="display: none;"><b>The code was invalid</b></div>
                        </div>
                        <script type="text/javascript" src="/assets/script.js"></script> 
                    </div>
                </div>
            </div>
        </form>
    </center>

</main>
</body>

</html>
{{ end }}