{{ define "enter2fa" }}
<html>
{{ template "header" . }}
<body>
<div class="section"></div>
<main>
    <center>
        <div class="section"></div>
            <div class="container">
                <div class="z-depth-1 grey lighten-4 row main-container">
                    <img src="{{.LogoURL}}" class="logo"/>
                    <br/><br/>
                    <h2>Confirm you're you!</h2>
                    <br/><br/>

                    <div class="row display-none" id="otc-section">
                        <br/>
                        <p>Enter the temporary code from your other device</p>
                        <div class='input-field col s12'>
                            <i class="material-icons prefix">keyboard</i>
                            <input class='validate otp' type='number' id='otc' max="999999" minlength="6" maxlength="6"/>
                            <span class="helper-text" data-error="Must be 6 digits" data-success="right"></span>
                        </div>
                        <br/><br/>
                    </div>

                    <div class="row" id="touchid-section">
                        <div class='col s12'>
                            <a id="login-touchid" class="btn-large waves-effect blue-grey left mfa-choose-btn">
                                <i id="touchid-icon" class="large material-icons left touchid-icon">fingerprint</i>&nbsp;Use TouchID, FaceID or Windows Hello
                            </a>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </div>

                    <div class="row" id="webauthn-section">
                        <div class='col s12'>
                            <a id="login-webauthn" class="btn-large waves-effect blue-grey left mfa-choose-btn">
                                <div class="icon">
                                    <i id="webauthn-icon" class="fa fa-usb fa-3x left"></i>&nbsp;Use your security key
                                </div>
                            </a>
                        </div>
                        <br/><br/>
                    </div>

                    <div class="row" id="otp-section">
                        <br/>
                        <p>6 digits code from your authenticator app (Authy, Google Authenticator...)</p>
                        <div class='input-field col s12'>
                            <i class="material-icons prefix">keyboard</i>
                            <input class='validate otp' type='number' id='otp' max="999999" minlength="6" maxlength="6" autofocus/>
                            <label for='otp'>Use the entry starting with "<span name="data-connection-name"></span>"</label>
                            <span class="helper-text" data-error="Must be 6 digits" data-success="right"></span>
                        </div>
                        <br/><br/>
                    </div>

                    <br/>
                    <div id="error" class="card-panel red accent-3 display-none" style="color: #ffffff;"><b>The code was invalid</b></div>
                    <div id="error-new-device" class="card-panel red accent-3 display-none" style="color: #ffffff;">
                        <b>
                            You may be trying to authenticate from a new device or browser. <br/>
                            Sign in using your allowed device or browser, and click 'Add new browser or device'.<br/>
                            This will allow you to generate a one time code.<br/>
                            Click <a href="/enter2fa?options=code">here</a> to enter a one time code.
                        </b>
                    </div>
                </div>
            </div>
    </center>

</main>
</body>

</html>
{{ end }}