{{ define "header" }}
<head>
    <link href="/assets/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/materialize-0.97.5.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css.css">
    <script type="text/javascript" src="/assets/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/assets/materialize.min-0.97.5.js"></script>
</head>
{{ end }}