{{ define "header" }}
<head>
    <meta http-equiv="Content-Security-Policy" 
        content="default-src 'self'; font-src https://fonts.gstatic.com 'self'; child-src 'none'; object-src 'none'; style-src 'self' 'unsafe-inline'; img-src 'self' {{.LogoURL}}">
    <link href="/assets/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/materialize-0.97.5.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome.min-4.7.0.css">
    <link rel="stylesheet" type="text/css" href="/assets/css.css">
    <script type="text/javascript" src="/assets/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/assets/materialize.min-0.97.5.js"></script>
</head>
{{ end }}