<html>

<head>
    <link href="/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/materialize-0.97.5.min.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome.min-4.7.0.css">
    <link rel="stylesheet" type="text/css" href="/css.css">
</head>

<body>
<div class="section"></div>
<main>
    <center>
        <div class="section"></div>
        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <img src="{{.LogoURL}}" class="logo"/>
                <br/><br/>
                <h2>Login to the VPN</h2>
                <br/>
                <div class="row">
                    <div>
                        <a class="btn col s12 waves-effect" href="/auth/google/login" style="text-transform:none">
                            <div class="icon">
                                <i class="fa fa-google"></i>&nbsp;Login with Google
                              </div>
                        </a>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </center>
    <div class="section"></div>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>
