{{ define "publicKeys" }}
<html>
{{ template "header" . }}
<body>
<div class="section"></div>
<main>
    <center>
        <div class="section"></div>
        <div class="container">
            <div class="z-depth-1 grey lighten-4 row main-container">
                <img src="{{.LogoURL}}" class="logo"/>
                <br/><br/>
                <h4>Your SSH keys</h4>
                <br/>

                <div id="user-ssh-keys"></div>

                <br/>
                <div id="error" class="card-panel red accent-3 display-none white"><b>Error</b></div>
                <br/>
                <div class="row">
                    <div>
                        <a class="btn col s12 waves-effect blue-grey left anchor-btn" href="/addSSHKey">
                            <i class="material-icons left">add</i>&nbsp;Add or Validate new key
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a class="btn col s12 waves-effect blue-grey left anchor-btn" href="/">
                            <i class="material-icons left">home</i>&nbsp;Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </center>
</main>
<div id="deleteIdentityModal" class="modal">
    <div class="modal-content">
      <h4>Delete SSH key</h4>
      <p>Are you sure you want to delete this key?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="btn modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a href="#!" class="btn modal-close waves-effect red darken-2 white-text" id="confirmDelete">Delete</a>
    </div>
  </div>
</body>

</html>
{{ end }}