{{ define "register2faOtp" }}
<html>
{{ template "header" . }}
<body>
<div class="section"></div>
<main>
    <center>
        <div class="section"></div>
        <form action="/auth/otp/validate" method="POST" id="otp-form">
        <div class="container">
            <div class="z-depth-1 grey lighten-4 row main-container">
                 <img src="{{.LogoURL}}" class="logo"/>
                <br/><br/>
                <br/>
                <h4 class="section-title">1. Scan the QR code</h4>
                <p>Using your authenticator app (Authy, Google Authenticator...). Only this time!</p>
                <div class="row">
                    <div class='col s12'>
                        <img src="/auth/otp/qrcode" class="qrcode"/>
                    </div>
                </div>
                <br/>
                <h4 class="section-title">2. Enter the 6 digits code </h4>
                <p>As displayed by the app</p>
                <br/>
                <div class="row">
                    <div class='input-field col s12'>
                        <i class="material-icons prefix">keyboard</i>
                        <input class='validate otp' type='number' name='otp' id='otp' max="999999" minlength="6" maxlength="6" autofocus/>
                        <label for='otp'>Use the entry starting with "<span name="data-connection-name"></span>"</label>
                        <span class="helper-text" data-error="Must be 6 digits" data-success="right"></span>
                        <button type="button" class="waves-effect waves-light btn" id="otp-button">Submit</button>
                    </div>
                </div>
                <br/>
                <div id="error" class="white card-panel red accent-3 display-none"><b>The code was invalid</b></div>
            </div>
        </div>
    </form>
    </center>

    <div class="section"></div>
</main>
{{ end }}