{{ define "success" }}
<html>
{{ template "header" . }}
<body>
<div class="section"></div>
<main>
    <center>
        <div class="section"></div>
        <form action="/auth/validateotp" method="POST">
            <div class="container">
                <div class="z-depth-1 grey lighten-4 row"
                    style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                    <img src="{{.LogoURL}}" class="logo"/>
                    <h2>Success!</h2>
                    <br/>
                    <p>You can now connect to the VPN.</p>
                    <small>You can directly reconnect to the VPN without authenticating here for the next {{.SessionValidity}} seconds.</small>
                    <br/><br/><br/>
                    <div class="row">
                        <div>
                            <a class="btn col s12 waves-effect blue-grey" href="/" style="text-transform:none">
                                Go back to Login page
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </center>
</main>
</body>

</html>
{{ end }}