{{ define "success" }}
<html>
{{ template "header" . }}
<body>
<div class="section"></div>
<main>
    <center>
        <div class="section"></div>
        <form action="/auth/validateotp" method="POST">
            <div class="container">
                <div class="z-depth-1 grey lighten-4 row main-container">
                    <img src="{{.LogoURL}}" class="logo"/>
                    <br/>
                    <h2>Success!</h2>
                    <br/>
                    <i class="large material-icons center fadein" style="color: #0c8836; font-size: 5em;">verified_user</i>
                    <br/><br/>
                    <p>You can now connect to <b>{{.MFAIssuer}}</b>.</p>
                    <small>You can reconnect multiple times from this device without coming back here for the next {{.SessionValidity}} seconds.</small>
                    <br/><br/><br/>
                    <div class="row">
                        <div>
                            <a class="btn col s12 waves-effect blue-grey" href="/" style="text-transform:none">
                                Go back to Login page
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </center>
</main>
</body>

</html>
{{ end }}