{{ define "success" }}
<html>
{{ template "header" . }}
<body>
<div class="section"></div>
<main>
    <center>
        <div class="section"></div>
        <form action="/auth/validateotp" method="POST">
            <div class="container">
                <div class="z-depth-1 grey lighten-4 row main-container">
                    <img src="{{.LogoURL}}" class="logo"/>
                    <br/>
                    <h2>Success!</h2>
                    <br/>
                    <i class="large material-icons center fadein" style="color: #0c8836; font-size: 5em;">verified_user</i>
                    <br/><br/>
                    <p>You can connect to <b name="data-connection-name"></b>.</p>
                    <p>This session is valid until <span id="data-session-validity"/>, 
                        <br/>as long as you connect from the same place and network.</p>
                    <br/>

                    <div id="notification-info" class="card-panel green accent-2 fadein" style="display: none;">
                        <div class="valign-wrapper left-align">
                        <i class="material-icons fadein">new_releases</i>&nbsp;
                        <b>Wanna connect to <span name="data-connection-name"></span> without coming back here too often?
                        <br/>And get notified when you really need to sign in again?</b>
                        </div>
                        <br/>
                        <a id="allow-notifications" class="btn col s12 waves-effect blue-grey left" style="text-transform:none">
                                <i id="allow-notifications-icon" class="material-icons left">chat_bubble</i>Allow notifications!
                        </a>
                        <br/><br/>
                    </div>

                    <div id="notification-warning" class="card-panel amber lighten-2 fadein" style="display: none;">
                        <div class="valign-wrapper left-align">
                        <i class="material-icons fadein">new_releases</i>&nbsp;
                        <b>You have refused to receive notifications.
                        <br/>Every time you are unable to connect to <span name="data-connection-name"></span>, <br/>
                        you will have to open this page again to sign in.<br/>
                        If you change your mind, go to your browser settings and change the permissions for this site.
                        </b>
                        </div>
                        <br/>
                    </div>

                    <div id="notification-restricted-support-warning" class="card-panel amber lighten-2 fadein" style="display: none;">
                        <div class="valign-wrapper left-align">
                        <i class="material-icons fadein">new_releases</i>&nbsp;
                        <b>Your browser doesn't support background notifications.<br/>
                            You will need to keep this page open for transparently<br/>
                            reconnecting to <span name="data-connection-name"></span> and receiving notifications.
                        </b>
                        </div>
                        <br/>
                    </div>
                    <br/><br/>

                    <div class="row">
                        <div>
                            <a class="btn col s12 waves-effect blue-grey left" href="/addDevice" style="text-transform:none">
                                <i class="material-icons left">add_circle_outline</i>&nbsp;Add new browser or device
                            </a>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div>
                            <a class="btn col s12 waves-effect blue-grey left" href="/user/logout" style="text-transform:none">
                                <i class="material-icons left">exit_to_app</i>&nbsp;Log Out
                            </a>
                        </div>
                    </div>

                    <br/>
                </div>
            </div>
        </form>
    </center>
</main>
</body>

</html>
{{ end }}